<!DOCTYPE html>
<html>

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="../static/styles.css">
  <title>Fantasy Report Home</title>
  
</head>
<body>
  <div id="nav">
    <a href="homepage.html">Home</a>
    <a href="compare_players.html">Compare Players</a>
    <a href="compare_teams.html">Compare Teams</a>
    <a href="create_report.html">Create a New Report</a>
    <a href="saved_reports.html">View Saved Reports</a>
  </div>

  <div id="header">
    <h1>Fantasy Football Report Generator</h1>
  </div>

  <div id="content">
    <p>Welcome to the Fantasy Football Report Generator! Use the navigation menu above or the panels below to compare
      players, compare teams, create a new report, or view saved reports.</p>

    <div class="panels-container">
      <div class="panel">
        <a href="compare_players.html"></a>
        <p class="label">Compare Players</p>
        <img
          src="https://render.fineartamerica.com/images/rendered/small/flat/round-beach-towel/images/artworkimages/medium/2/nick-foles-philadelphia-eagles-michael-pattison.jpg?transparent=0&targetx=-191&targety=0&imagewidth=1170&imageheight=788&modelwidth=788&modelheight=788&backgroundcolor=F8F0EF&orientation=0&producttype=beachtowelround&imageid=10830046"
          alt="Compare Players">
      </div>
      <div class="panel">
        <a href="compare_teams.html"></a>
        <p class="label">Compare Teams</p>
        <img src="https://upload.wikimedia.org/wikipedia/en/a/a2/National_Football_League_logo.svg" alt="Compare Teams">
      </div>
      <div class="panel">
        <a href="create_report.html"></a>
        <p class="label">Create a new report</p>
        <i class="material-icons">create_new_folder</i>
      </div>
      <div class="panel">
        <a href="saved_reports.html"></a>
        <p class="label">View or Delete Saved Reports</p>
        <i class="material-icons">folder_open</i>
        <i class="material-icons">delete</i>
      </div>
    </div>
  </div>
</body>

</html>